$bg:#373277;
$bg1:#f0f0f0;
*{margin:0;padding:0;}
html,body{
  width:100%;
  height:100%;
}
li{
  list-style:none;
  text-decoration: none;
}

header, footer {
  position: absolute;
  width:100%;
  height: 60px;
  line-height:60px;
  background: #373277;
  z-index:100;

}
container{
  position: relative;
  height:100%;
  background: $bg1;
  aside{
    padding:60px 0;
    box-sizing: border-box;
    width:200px;
    height:100%;
    background:$bg;
    float:right;
    &:first-child{
      float:left;
    }
  }
  
}
footer{
  bottom:0;
}
